

/* NAVBAR */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F55A5A;
    color: white;    
    gap: .5rem;
}

.navbar img{
    width: 1.8rem;
    height: 1.8rem;
}


.card{
    display: flex;
    margin: 4rem auto;
    align-items: center;
    gap: 3rem;
    width: 50%;
}

.card--location{
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    align-items: center;
}

